matplotlib~=3.8.2
mobile_sam~=1.0
numpy~=1.26.4
opencv_python~=4.9.0.80
opencv_python_headless~=4.9.0.80
Pillow~=10.2.0
PyQt5~=5.15.10
PyQt5_sip~=12.13.0
Requests~=2.31.0
streamlit~=1.31.0
torch~=2.1.2
tqdm~=4.66.1
transformers~=4.37.2
wget~=3.2
yolov7detect~=1.0.1
